body {
    font-family: Helvetica;
    font-size: 16px;
}

#frame {
    width: 800px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}

#container {
    width: 540px;
    margin-top: 60px;
    position: absolute;
    height: 175px;
}

#top {
    width: 800px;
    position: absolute;
    height: 50px;
    text-align: right;
}

#right {
    width: 240px;
    margin-top: 60px;
    position: absolute;
    height: 175px;
    margin-left: 560px;
}

#content {
    border: solid 3px #000000;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 0px 15px;
}

#tweet {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 7px 7px;
    background-color: #99CCDD;
    width: 480px;
    height: 40px;
}

.intweet {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 0px 5px;
    background-color: #EEEEEE;
    width: 435px;
    height: 30px;
}

#footer img {
    margin-left: 25px;
    margin-top: -50px;
}

p {
    text-align: center;
    color: #FF9933;
}

h1 {
    text-align: center;
    color: #000000;
}

#footer p {
    font-size: 10px;
    font-style: italic;
    text-align: center;
    color: #000000;
}

#footer {

}
